.square {
    border-style: solid;
    border-width: 0.03em;
    border-color: white;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    justify-content: space-between;
}

.label {
    margin: 0;
    font-weight: 1000;
}

.piece {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
}